body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
}

#map {
    height: 100vh;
    width: 60%;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f0f0f0; /* Fundo cinza */
}

#title {
    background-color: #000000; /* Preto */
    padding: 10px;
    margin-bottom: 20px;
    text-align: center; /* Centralizar o texto */
}

#title h1 {
    font-size: 24px;
    margin: 0;
    color: #FFBC0D; /* Amarelo */
}

#sidebar label, #sidebar input, #sidebar button {
    display: block;
    margin-bottom: 10px;
}

#results {
    flex-grow: 1;
}

#results h2 {
    margin: 0;
}

#results table {
    width: 100%;
    border-collapse: collapse;
}

#results th, #results td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#results th {
    cursor: pointer;
}
#resultsContainer {
    max-height: 300px; /* Define a altura máxima do contêiner */
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical */
}


#footer {
    background-color: #585252; /* Preto */
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center; /* Alinhar os itens verticalmente */
    justify-content: center; /* Centralizar os itens horizontalmente */
}

#footer p {
    margin: 0;
    color: #fff; /* Texto branco */
    margin-right: 10px; /* Adicionar espaço entre o texto e a imagem */
}

#footer img {
    max-width: 100px;
    margin-right: 30px;
}